@charset "utf-8";

@font-face {
    font-family: IRANSans;
    src: url(fonts/IRANSans.eot) format("eot"),
        url(fonts/IRANSansWeb.woff) format("woff"),
        url(fonts/IRANSansWeb.woff2) format("woff2"),
        url(fonts/IRANSans.ttf.ttf) format("ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: IRANSans;
}

body {
    min-height: 100vh;
    font-family: IRANSans;
    direction: rtl;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(17px);
    z-index: -1;
}

.header::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(113, 214, 93, 0.646), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo img {
    cursor: pointer;
    width: 200px;
    margin-right: -90px;
}

header .icon-cart span {
    position: relative;
}

header .icon-cart span {
    width: 20px;
    height: 20px;
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    bottom: 12px;
    right: -18px;
}

.navbar a {
    font-size: 1.15rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    right: 5%;
    font-size: 2.8rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgb(130, 234, 128);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .5s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .4s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}

.cta1 {
    padding: 6px 25px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-right: 10px;
}

.cta2 {
    padding: 3px 6mm;
    background-color: rgb(133, 199, 118);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    font-size: 18px;
    font-family: IRANSans;
}

.fa-shopping-cart {
    font-size: 20px;
    color: black;
}

.container1 img {
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* slider */

.slidebar {
    width: 100%;
    height: 100%;
     height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    clear: both;
}

.img-slider {
    position: relative;
    width: 800px;
    height: 590px;
    margin: 10px;
    background: white;
}

.img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.img-slider .slide img {
    z-index: 1;
    width: 100%;
    border-radius: 50px;
}

.img-slider .slide .info {
    position: absolute;
    top: 0;
    padding: 15px 30px;
}

.img-slider .navi {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navi .btn {
    background: white;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navi .btn.active {
    background: rgb(16, 201, 127);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width:400px) {
    .header .logo img {
        width: 100px; 
        width: 133px;
        margin-right: -15px;
    }
} 

@media (max-width: 820px) {
    .img-slider {
        width: 600px;
        height: 375px;
    }

    .img-slider .slide .info {
        padding: 10px 25px;
    }

    .img-slider .slide .info h2 {
        font-size: 35px;
    }

    .img-slider .slide .info p {
        width: 70%;
        font-size: 15px;
    }

    .img-slider .navi {
        bottom: 25px;
    }

    .img-slider .navi .btn {
        width: 10px;
        height: 10px;
        margin: 8px;
    }
} 

@media (max-width: 620px) {
    .img-slider {
        width: 400px;
        height: 250px;
    }

    .img-slider .slide .info {
        padding: 10px 25px;
    }

    .img-slider .slide .info h2 {
        font-size: 30px;
    }

    .img-slider .slide .info p {
        width: 80%;
        font-size: 13px;
    }

    .img-slider .navi {
        bottom: 15px;
    }

    .img-slider .navi .btn {
        width: 8px;
        height: 8px;
        margin: 6px;
    }
}

@media (max-width: 420px) {
    .img-slider {
        width: 320px;
        height: 200px;
    }

    .img-slider .slide .info {
        padding: 5px 10px;
    }

    .img-slider .slide .info h2 {
        font-size: 25px;
    }

    .img-slider .slide .info p {
        width: 90%;
        font-size: 11px;
    }

    .img-slider .navi {
        bottom: 10px;
    }
} 

.titt {
    clear: both;
}

.tit1 {
    text-align: center;
    font-size: 37px;
    background: -webkit-linear-gradient(#1cb5a8, #2b8532);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.pic2 img {
    height: 100%;
    width: 45%;
    float: left;
}

.why-item {
    width: 55%;
    height: 100%;
    float: right;
    margin-top: 57px;
}

.why {
    width: 100%;
    height: 100%;
    clear: both;
}

.c-tit2 {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.why-1 img {
    margin-left: 32px;
    width: 90px;
    height: 83px;
}

.c-table {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}

.c-table2 {
    width: 82vw;
    height: 90vh;
    background-color: rgba(176, 176, 176, 0.333);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

td img {
    width: 32px;
    height: 32px;
    margin-left: 3rem;
    vertical-align: middle;
    float: right;
}

table,
th,
td {
    padding: 1rem;
    border-collapse: collapse;
    text-align: center;
}

.table-body {
    width: 95%;
    max-height: 89%;
    background-color: #fffb;
    margin: 1.8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table-body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table-body:hover:-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

.table-body th {
    background-color: #d5d1defe;
    position: sticky;
    top: 0;
    left: 0;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff6;
}

.green {
    color: green;
    padding: .2rem 0;
}

.red {
    color: rgb(255, 0, 0);
    padding: .2rem 0;
}

.table-btn {
    border-radius: 24px;
    padding: 0.5em;
    width: 7em;
    height: 3em;
    font-size: 12px;
    color: rgb(23, 23, 23);
    border: none;
    background-image: linear-gradient(to right#0aa98f, #49ff78);
    font-weight: 900;
    background-clip: text;
    box-shadow: 5px 5px 30px #0aa98e, -5px -5px 30px #0aa98e;
    cursor: pointer;
}

.world {
    margin-top: 15px;
    width: 100%;
    height: 100%;
}

footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-flow: row wrap;
    padding: 50px;
    color: rgba(5, 95, 91, 1.00);
    background-color: rgba(251, 251, 251, 1.00);
    margin-top: 250px;
    font-weight: 800;
}

.footer>* {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-right img {
    width: 230px;
    height: 60px;
    margin-bottom: 15px
}

h2 {
    font-weight: 600;
    font-size: 17px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
    margin-top: auto;
}

.footer a {
    text-decoration: none;
}

.footer-left {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-left>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999;
}

.footer-buttom {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.footer-right p {
    font-size: 25px;
    color: #999;
    margin-right: 24px;
}

.socials a {
    height: 40px;
    widows: 40px;
    display: inline-block;
    margin-right: 0px;
    align-items: center;
}

.socials a i {
    color: rgba(131, 131, 131, 1.00);
    padding: 40px 1px;
    font-size: 30px;
    margin-right: 20px;
}

@media screen and (min-width:600px) {
    .footer-left>* {
        flex: 1;
    }

    .footer-right {
        flex: 1 0px;
    }

    .footer-left {
        flex: 2 0px;
    }
}

.neshan img {
    width: 120px;
    height: 134px;
    cursor: pointer;
} 
